<md-content class="md-padding" >
    <div layout="row">
        
        <md-card flex="33">
            <h3>Residents</h3>
            <md-card-content>
                <form>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for Places" ng-model="searchlist">
                      </div>      
                    </div>
                </form>
                
                <table class="table table-hover table-striped">
                    <thead>
                      <th>Resident Name</th>
                      <th>Total Hours</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="r in residents | filter:searchlist">
                        <td>{{ r.firstName }} {{ r.lastName }}</td>
                        <td>{{ r.duties.length }}</td>
                      </tr>
                    </tbody>
                </table>    
                    
            </md-card-content>
        </md-card>
        
        <md-card flex="33">
            <h3>Add Resident</h3>
            <md-card-content>
                
                <form>
                    <div class="form-group"> 
                      <div class="input-group">
                          <input ng-model="resident.firstName" type="text" placeholder="First Name" class="form-control input-md" required="">
                      </div>
                    </div>

                    <div class="form-group"> 
                      <div class="input-group">
                          <input ng-model="resident.lastName" type="text" placeholder="Last Name" class="form-control input-md" required="">
                      </div>
                    </div>
                    
                    <div class="form-group">
                        <button id="addResident" class="btn btn-primary" ng-click="addResident(resident)">Add Resident</button>
                    </div>
                </form>
                
                <div>{{ resident }}</div>
            </md-card-content>
        </md-card>
        
        <md-card flex="33">
            <h3>Administration</h3>
            <md-card-content>
                <p><button class="btn btn-primary" ng-click="adminview()">Go to Admin View</button></p>
            </md-card-content>
        </md-card>
    </div>
</md-content>