<md-content class="md-padding" >
    <div layout="row">
        <md-card flex="33">
            <h3>Add Resident</h3>
            <md-card-content>
                
                <form>
                    <div class="form-group"> 
                      <div class="input-group">
                          <input ng-model="resident.firstName" type="text" placeholder="First Name" class="form-control input-md" required="">
                      </div>
                    </div>

                    <div class="form-group"> 
                      <div class="input-group">
                          <input ng-model="resident.lastName" type="text" placeholder="Last Name" class="form-control input-md" required="">
                      </div>
                    </div>
                    
                    <div class="form-group">
                        <button id="addResident" class="btn btn-primary" ng-click="addResident(resident)">Add Resident</button>
                    </div>
                </form>
                
                <div>{{ resident }}</div>
            </md-card-content>
        </md-card>
        
        
        <md-card flex="33">
            <h3>Residents</h3>
            <md-card-content>
                <form>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for Places" ng-model="searchlist">
                      </div>      
                    </div>
                </form>
                
                <table class="table table-hover table-striped">
                    <thead>
                      <th>Resident Name</th>
                      <th>Total Hours</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="r in residents | filter:searchlist" ng-click="getResident($index)">
                        <td>{{ r.firstName }} {{ r.lastName }}</td>
                        <td><duty-hours times="{{r.duties}}"></duty-hours></td>
                      </tr>
                    </tbody>
                </table>    
                    
            </md-card-content>
        </md-card>
        
        <md-card flex="33">
            <h3>Add Duty Hours</h3>
            <md-card-content>
                
                
                <div class="range layout-column">
                    <md-input-container class="md-input-has-placeholder">
                        <label>Resident</label>
                        <p>{{ resName }}</p>
                    </md-input-container>    
                    
                    <md-input-container class="md-input-has-placeholder">
                        <label>Start Date/Time</label>
                        <input mdc-datetime-picker date="true" time="true" type="text" placeholder="Date" max-date="dateTimeEnd" ng-model="res.duties.start_time" class=" md-input" id="input_0">
                    </md-input-container>
                    
                    <md-input-container class="md-input-has-placeholder">
                        <label>End Date/Time</label>
                        <input mdc-datetime-picker date="true" time="true" type="text" placeholder="Date" min-date="dateTimeStart" ng-model="res.duties.end_time" class="md-input" id="input_1">
                    </md-input-container>
                </div>
                
                <button id="addResident" ng-disabled="!resName || !res.duties.start_time || !res.duties.end_time" class="btn btn-primary" ng-click="addDuties(res)">Add Duty Hours</button>
              
            </md-card-content>
        </md-card>
    
    </div>
    
    <div layout="row">
        <md-card flex>
            <h3>Calendar</h3>
            <md-card-content>
                <div ui-calendar></div>
            </md-card-content>
        </md-card>
    </div>
</md-content>