<md-toast>
  <span class="md-toast-text" flex>{{ message }}</span>
  <md-button class="md-highlight" ng-click="openMoreInfo($event)">
    More info
  </md-button>
  <md-button ng-click="closeToast()">
    Close
  </md-button>
</md-toast>